
<div id="navbar-form">
    <nav class="navbar navbar-brand navbar-dark bg-primary py-1">
    <div class="container-fluid justify-content-between">
        <div class="ms-5">
            <!-- fix this add variable -->
            <span *ngIf="false; else editPost" class="fs-2">New Post</span>
            <ng-template #editPost>
                <span class="fs-2">Edit Post</span>
            </ng-template>
            <a href="/" class="ms-4 fs-6 text-white">Go back to Home page</a>
        </div>
        <div id="status-message">
            <span class="me-5 fs-6">Welcome {{currentUser.name}}!</span>
        </div>
    </div>
    </nav>
</div>

<div class="container-fluid d-flex my-5 p-5">

    <form [formGroup]='postForm' (ngSubmit)='formSubmit()' class="w-100" novalidate>

        <label for="title" class="form-label fs-5 fw-bold">Title</label>
        <input type="text" formControlName="title" class="form-control" placeholder="Please enter post title">

        <!-- Required and touched validation -->
        <div class="alert alert-danger"
        *ngIf=" postForm.get('title')?.errors?.['required'] && postForm.get('title')?.touched">
        Please insert a post title
        </div>

        <!-- Max Length and touched validation -->
        <div class="alert alert-danger"
        *ngIf=" postForm.get('title')?.errors?.['maxlength'] && postForm.get('title')?.touched">
        The title cannot be longer than 200 characters
        </div>

        <label for="message" class="form-label fs-5 fw-bold mt-3">Message</label>
        <textarea formControlName="message" class="form-control" placeholder="Please Insert Bug Description"></textarea>

        <!-- Required and touched validation -->
        <div class="alert alert-danger"
        *ngIf=" postForm.get('message')?.errors?.['required'] && postForm.get('message')?.touched">
        Please select a Database
        </div>

        <!-- Max Length and touched validation -->
        <div class="alert alert-danger"
        *ngIf=" postForm.get('message')?.errors?.['maxlength'] && postForm.get('message')?.touched">
        The message cannot be longer than 2000 characters
        </div>
            
        <!-- Enable delete button only on EDIT FORM -->

        <div class="d-flex justify-content-between w-100 mt-4">
            <div>
                <button type="submit" class="btn btn-danger border border-3 border-secondary app-buttons rounded-5">
                    Delete
                </button>
            </div>
            <div>
                <button [disabled]='postForm.invalid' class="btn btn-success border border-3 border-secondary app-buttons me-3 rounded-5">
                    Save
                </button>
                <button [disabled]='postForm.invalid' type="reset" (click)="postForm.reset()" class="btn btn-light border border-3 border-secondary app-buttons rounded-5">
                    Cancel
                </button>
            </div>
        </div>
    </form>

</div>