<div id="home">

  <div id="navbar">
      <nav class="navbar navbar-brand navbar-dark bg-primary py-1">
      <div class="container-fluid justify-content-between">
          <div class="fs-2 ms-5">
          Home
          </div>
          <div id="status-message">
            <div  class="mx-5 mt-1" *ngIf="userLoggedIn; else notLoggedInMessage">
              <span class="me-4">Welcome {{currentUser.name}}!</span>
              <button type="button" class="btn btn-primary border border-2 bg-success py-0 px-5 mb-1 me-2 rounded-5">
                New Post
              </button>
              <button type="button" class="btn btn-primary border border-2 bg-success py-0 px-5 mb-1 rounded-5">
                  Log out
              </button>
            </div>
            <ng-template #notLoggedInMessage >
              <span class="me-4">You are not logged in</span>
              <button type="button" (click)="navigatePostForm()" class="btn btn-primary border border-2 bg-success py-0 px-5 mb-1 rounded-5">
                  Log in
              </button>
            </ng-template>
          </div>

      </div>
      </nav>
  </div>

  <div class="mt-4" *ngIf="loading; else userPostsTable">
    <p class="fs-1 text-center">Posts Loading...</p>
    <div class="d-flex justify-content-center">
      <div class="spinner-border" role="status">
      </div>
    </div>
  </div>

  <ng-template #userPostsTable>
    <div id="posts-table" class="d-flex align-items-center justify-content-center my-5">

      <table class="table table-light table-hover table-bordered w-75 align-middle">
        <thead class="table-secondary">
          <tr>
            <th colspan="2">User</th>
            <th colspan="10">Post</th>
          </tr>
        </thead>
  
        <tbody>
            <tr *ngFor="let userPost of userPosts;">
              <td colspan="2">
                  {{userPost.fullname}}
                  <br>
                  <a href={{userPost.website}}>{{userPost.company}}</a>
              </td>
              <td colspan="10">
                  <span class="fs-4 fw-bold">{{userPost.title}}</span>
                  <br>
                  {{userPost.body}}
              </td>
            </tr>
        </tbody>
      </table>
    </div>
  </ng-template>

</div>