<div id="home">

  <div id="navbar">
      <nav class="navbar navbar-brand navbar-dark bg-primary py-1">
      <div class="container-fluid justify-content-between">
          <div class="fs-2 mx-5">
          Home
          </div>
          <div class="mx-5 mt-1">
              <span class="me-4">You are not logged in</span>
              <button type="button" class="btn btn-primary border border-s border-2 bg-success py-0 px-5 mb-1 rounded-5">
                  Log in
              </button>
          </div>
      </div>
      </nav>
  </div>

    
  <div id="posts-table" class="d-flex align-items-center justify-content-center my-5">

    <table class="table table-dark table-hover table-bordered w-75">
      <thead>
        <tr>
          <th colspan="2">User</th>
          <th colspan="10">Post</th>
        </tr>
      </thead>

      <tbody>
          <tr *ngFor="let userPost of userPosts;">
            <td colspan="2">
                {{userPost.fullname}}
                <br>
                {{userPost.company}}
            </td>
            <td colspan="10">
                {{userPost.title}}
                <br>
                {{userPost.body}}
            </td>
          </tr>
      </tbody>
    </table>
  </div>

</div>